@{
    ViewBag.Title = "About IdeaHub and credits";
}
<h2>@ViewBag.Title</h2>


<p>This site was created as an univeristy assignement to create a platform to exchange thoughts and innovative ideas, with was later narrowed to IT-related ideas.
    Resulting product is quite fexible and change of site's theme is not hard to achieve.</p>

<p>Thank you for using our site, wishing you many great ideas.</p>

<p>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>