@{
    ViewBag.Title = "About IdeaHub";
}
<h2>@ViewBag.Title</h2>


<p>This site was created as an univeristy assignement to create a platform to exchange thoughts and innovative ideas, with was later narrowed to IT-related ideas.
    Resulting product is quite fexible and change of site's theme is not hard to achieve.</p>

<p>Thank you for using our site, wishing you many great ideas.</p>

