@using CTS
@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>

<p>
    In case of questions or ideas for further development of this site please contact us at:
    <a href="mailto:domsokol1@student.pg.gda.pl?Subject=IdeaHub" target="_top">domsokol1@student.pg.gda.pl</a>
</p>