@model string
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "Tags", FormMethod.Get))
{
    <p>
        Find idea by tag: @Html.TextBox("SearchString", Model)
        <input type="submit" value="Search" />
    </p>
}
